# cache.cfg for a 2MB L2 Cache in 22nm
-size (bytes) 2097152
-block size (bytes) 64
-associativity 8
-read-write port 1
-exclusive read port 0
-exclusive write port 0
-single ended read ports 0
-technology (u) 0.022 
-cache type "cache"
-Wire signaling (fullswing, lowswing, default) - "default"
-Print level (DETAILED, concise) - "concise"
